@{
    ViewBag.Title = "Snek@MadLabs";
    Layout = "_GameLayout";
}


@section JavaScriptIncludes {
<script language="javascript" type="text/javascript" src="~/SnekScripts/Scene/SceneController.js"></script>
<script language="javascript" type="text/javascript" src="~/SnekScripts/Scene/Scene.js"></script>
<script language="javascript" type="text/javascript" src="~/SnekScripts/Characters/Snake.js"></script>
}

<script type="text/javascript">

    function Engine() {
        var Fps = 30;

        this.Update = function () {
            console.log("Update");
        };

        this.Draw = function () {
            console.log("Draw");
        };

        this.ChangeFPS = function(newfps)
        {
            this.Fps = newfps;
        };

        this.GetFPS = function()
        {
            return this.Fps;
        }
    };

    Execute = function (scene) {
        scene.Update();
        scene.Draw();
    };

    


    window.onload = function()
    {
        var canvas = document.createElement("canvas");
        canvas.setAttribute("width", window.innerWidth);
        canvas.setAttribute("height", window.innerHeight);
        canvas.setAttribute("style", "position: absolute; x:0; y:0;");
        document.body.appendChild(canvas);

        Scene = new Scene("SNEK!", canvas, new Snake( 100, 100));

        document.addEventListener("keypress", function (event) {
            var directionToGo;
            switch (event.key) {
                case "ArrowUp":
                case "w":
                    directionToGo = "up";
                    break;
                case "ArrowDown":
                case "s":
                    directionToGo = "down";
                    break;
                case "ArrowLeft":
                case "a":
                    directionToGo = "left";
                    break;
                case "ArrowRight":
                case "d":
                    directionToGo = "right";
                    break;
                case "q":
                    directionToGo = "EAT!!";
                    break;
            }

            Scene.ChangeDirection(directionToGo);
        });

        setInterval(function () { Execute(Scene) }, 25);
        document.getElementById("demo").innerHTML = Scene.GetSceneName();
    }
   
</script>
<p id="body">
    Hello World!
</p>