@{
    ViewBag.Title = "Snek@MadLabs";
    Layout = "_GameLayout";
}


<script type="text/javascript">
    function Engine() {
        this.Fps = 30;

        this.Update = function () {
            console.log(this.Fps);
        };

        this.Draw = function () {
            console.log("draw");
        };
    };

    Execute = function (engine) {
        engine.Update();
        engine.Draw();
    };

    var myEngine = new Engine();
    var myEngine3 = new Engine();
    myEngine3.Fps = 15;
    setInterval(function () {Execute(myEngine) }, 1000 / myEngine.Fps);  
</script>
<p>
    Hello World!
</p>