@{
    ViewBag.Title = "Snek@MadLabs";
    Layout = "_GameLayout";
}


<script type="text/javascript">


    function Engine() {
        _engine = this;

        this.Update = function() {
            console.log("update");
        };

        this.Draw = function() {
            console.log("draw");
        };

        this.Execute = function () {
            _engine.Update();
            _engine.Draw();
        };

        _engine.Fps = 30;
    };
    
    var myEngine = new Engine();
    setInterval(myEngine.Execute, 1000/myEngine.Fps);
        

</script>
<p>
    Hello World!
</p>