@{
    ViewBag.Title = "Snek@MadLabs";
    Layout = "_GameLayout";
}


@section JavaScriptIncludes {
    <script language="javascript"  type="text/javascript" src="~/SnekScripts/Scene/SceneController.js"></script>
}

<script type="text/javascript">

    function Engine() {
        var Fps = 30;

        this.Update = function () {
            console.log(Fps);
        };

        this.Draw = function () {
            console.log("draw");
        };

        this.ChangeFPS = function(newfps)
        {
            Fps = newfps;
        };

        this.GetFPS = function()
        {
            return Fps;
        }
    };

    Execute = function (engine) {
        engine.Update();
        engine.Draw();
    };

    var sc = new SceneController();
    sc.Update();

    var myEngine = new Engine();
    setInterval(function () { Execute(myEngine) }, 1000 / myEngine.GetFPS());
</script>
<p>
    Hello World!
</p>